.modalContainer{
    background: #1b262c;
}

.modalClose{
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor:pointer; cursor: hand;
    background: #bbe1fa;
    color: #1b262c;
}

.modalClose:hover{
    color:red
}

.modalInfo{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.modalLinks{
    width: 100%;
    text-align: center;
}

.modalIcon{
    color:#785931;
    font-size: 2rem;
    margin: 90px;
}

